#introduction-container {
    background-color: #000;
    margin-top: 680px;
    background-image: url('../images/bg-container.jpg');
    background-position: top center; 
    background-repeat: no-repeat;
    padding: 100px 0;
    font-family: myFirstFont1;
    overflow: hidden;
    min-height: 600px
}
#introduction-container * {
    color: #fff
}
.introText{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 100px;
}
.intro-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
}
.intro-content {
    margin-top: 50px;
    width: 49%;
    margin-right: 1%;
    float: left;
    text-align: justify;
    line-height: 150%
}
.intro-content ul {
    padding: 0
}
.intro-content ul li {
    margin-bottom: 40px;
    line-height: 150%
}
.intro-thumb {
    margin-top: 50px;
    width: 50%;
    float: right;
    clear: both;
}
.intro-thumb img {
    width: 100%;
}

.intro-thumb-2 {
    float: left;
    clear: both;
}
.intro-content-2 {
    width: 46%;
    margin-left: 2%;
    float: right;
}
@media only screen and (max-width : 800px) {
    .intro-container {
        margin: 20px
    }
}
@media only screen and (max-width : 650px) {
    .intro-content {
        width: 80%;
        margin: auto;
        float: none;
        text-align: justify
    }
    .intro-thumb {
        width: 50%;
        float: none;
        margin: auto;
        margin-bottom: 50px
    }
}
@media only screen and (max-width : 581px) {
    #introduction-container {
        margin-top: 240px;
    }
}
@media only screen and (max-width : 500px) {
    .intro-content {
        width: 80%;
        margin: auto;
        float: none;
        text-align: justify
    }
    .intro-thumb {
        width: 80%;
        float: none;
        margin: auto;
        margin-bottom: 50px
    }
}

/*========================================*/
body, html{
			padding: 0px;
			margin: 0px;
			overflow-x: hidden;
		}

		@font-face {
		    font-family: myFirstFont;
		    src: url(../fonts/Ubuntu-B.ttf);
		}
		@font-face {
		    font-family: myFirstFont1;
		    src: url(../fonts/Ubuntu-M.ttf);
		}
		#kis{
			height: 100px;
			background-color: red;
			width: 100vw;
		}
		#slideShow{
			width: 100%;
			height: 600px;
			background-color: black;
			position: absolute;
			top: 0px;
			z-index: 1;
			transition: top 1s;
		}
		
		.commonSlide{
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

		}
		#slide1{
			width: 100vw;
			height: 780px;
		/*	background-image: url(../img/web/Vglobal.jpg);
			background-repeat: no-repeat;
			-webkit-background-size: 100% 100%;
			background-size: cover;
			background-position: 100% 100%;*/
			position: relative;
			
		}
		#slide1Left{
			width: calc((100% - 752px) / 2);
			height: 100%;
			float: left;
			position: relative;
			top: 80px;
			background-color: rgba(0, 0, 0, 0.4)			
		}
		#LeftSlideImg{
		    width: 191px;
		    position: relative;
		    top: 181px;
		    left: 9px;	
		    float: left;
		}
		#slide1Center{
			width: 752px;
			height: 100%;
			float: left;	
			position: relative;
			top: 80px		
		}
		#slide1CenterUp{
			width: 100%;
			height: 350px;
			background-color: rgba(255, 255, 255, 0.2)
		}

		#slide1CenterBigLogo{
			width: 250px;
			margin: auto;
			position: relative;
			top: 109px;
		}
		#slide1CenterDown{
			width: 100%;
			height: 350px;
			background-color: rgba(255, 255, 255, 0.2);
			text-indent: center;
			text-align: left;
		}
		#slideTextUp{
			padding: 0px;
			margin:0px;
			font-family: myFirstFont1;
			font-size:50px;
			color:white;
		    margin-left: 67px;
		}
		#slideText{
		    margin: auto;
		    font-family: myFirstFont1;
		    font-size: 20px;
		    color: white;
		    margin-left: 67px;
		    width: 65%;
		}
		#LineunderSlide1{
		    width: 83%;
		    height: 10px;
		    background-color: white;
		    margin-left: 66px;
		    margin-top: 13px;
		}
		#slide1Right{
			width: calc((100% - 752px) / 2);
			height: 100%;
			float: left;
			position: relative;
			top: 80px;
			background-color: rgba(0, 0, 0, 0.4)				
		}
		#RightSlideImg{
		    width: 392px;
		    position: relative;
		    top: 176px;
		    float: right;
		}


		#slide2{
			width: 100vw;
			height: 780px;
		/*	background-image: url(../img/web/Vads.jpeg);
			background-repeat: no-repeat;
			-webkit-background-size: 100% 100%;
			background-size: cover;
			background-position: 100% 100%;*/
			
		}
		#slide3{
			width: 100vw;
			height: 780px;
		/*	background-image: url(../img/web/Vauto.jpg);
			background-repeat: no-repeat;
			-webkit-background-size: 100% 100%;
			background-size: cover;
			background-position: 100% 100%;*/
			
		}
		#slide4{
			width: 100vw;
			height: 780px;
		/*	background-image: url(../img/web/Vbike.jpg);
			background-repeat: no-repeat;
			-webkit-background-size: 100% 100%;
			background-size: cover;
			background-position: 100% 100%;*/
			
		}
		#slide5{
			width: 100vw;
			height: 780px;
		/*	background-image: url(../img/web/Vexpress.jpg);
			background-repeat: no-repeat;
			-webkit-background-size: 100% 100%;
			background-size: cover;
			background-position: 100% 100%;
			*/
		}
		#slide6{
			width: 100vw;
			height: 780px;
		/*	background-image: url(../img/web/Vgame.jpeg);
			background-repeat: no-repeat;
			-webkit-background-size: 100% 100%;
			background-size: cover;
			background-position: 100% 100%;*/
			
		}
		#slide7{
			width: 100vw;
			height: 780px;
		/*	background-image: url(../img/web/Vmall.jpeg);
			background-repeat: no-repeat;
			-webkit-background-size: 100% 100%;
			background-size: cover;
			background-position: 100% 100%;*/
			
		}
		#slide8{
			width: 100vw;
			height: 780px;
		/*	background-image: url(../img/web/Vnavi.png);
			background-repeat: no-repeat;
			-webkit-background-size: 100% 100%;
			background-size: cover;
			background-position: 100% 100%;*/
			
		}
		#slide9{
			width: 100vw;
			height: 780px;
		/*	background-image: url(../img/web/Vpay.jpeg);
			background-repeat: no-repeat;
			-webkit-background-size: 100% 100%;
			background-size: cover;
			background-position: 100% 100%;*/
			
		}
		#slide10{
			width: 100vw;
			height: 780px;
		/*	background-image: url(../img/web/Vtaxi.jpg);
			background-repeat: no-repeat;
			-webkit-background-size: 100% 100%;
			background-size: cover;
			background-position: 100% 100%;*/
			
		}
		#slide11{
			width: 100vw;
			height: 780px;
		/*	background-image: url(../img/web/Vyummy.jpeg);
			background-repeat: no-repeat;
			-webkit-background-size: 100% 100%;
			background-size: cover;
			background-position: 100% 100%;*/
			
		}

		#extraMenu{
			display: none;
			width: 100%;
			height: 430px;
			background-color: red
		}


		#nav-icon2{
			display: none
		}
		#realLogoReplce{
			display: none;
		}

		#outterMost{
			width: 	100vw;
			background-color: red

		}
		#nav{
			width: 	100%;
			height: 80px;
			background-color: 	rgba(0, 0, 0, 0.2);
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			position: fixed;
			z-index: 2
		}
		#activeNav{
			color:#3244A7;
		}
		#logo{
			width: 202px;
			height: 80px;
			float: left;
		}
		#realLogo{
		    width: 80px;
		    float: left;
		    margin-left: 65px;
		    margin-top: 8px;
		}



		#threeFlag{
			width: 	202px;
			height: 80px;
			float: left;
			position: relative;
			left: calc(100% - 2 * 202px);
		}
		#upplerFlags{
			width: 100%;
			height: 40px;
			text-align: center;
		}
		#realVietnam{
			width: 27px;
		}
		#realUsa{
		    width: 27px;
		    height: 20px;	
		}
		#realLaos{
			width: 27px;
			height: 20px;	
		}

		.flagCommon{
		    position: relative;
		    top: 15px;
		}



		#loginBtn{
			width: 100%;
			height: 40px;	
			text-align: center
		}
		#loginBtn > span{
			font-family: myFirstFont;
		}
		#loginBtn > img{
			width: 14px;
		}



		#navBtns{
			width: calc(100% - 2 * 202px);
			height: 80px;
			position: absolute;
			left: calc(202px);
		}


		.commonBtns{
		    width: 94px;
		    height: 28px;
		    text-align: center;
		    border-radius: 2px;
		    float: left;
		    margin-left: 20px;
		    position: relative;
		    top: 25px;
		}
		.commonBtnsLink{
			font-family: myFirstFont;
			text-decoration: none;
		    position: relative;
		    top: 4px;	
		    color:white;
		}








		@media only screen and (max-width : 1545px) {
			#LeftSlideImg {
			    width: 128px;
			}
			#RightSlideImg {
			    width: 265px;
			}
		}
		@media only screen and (max-width : 1290px) {
			#LeftSlideImg {
			    width: 85px;
			}
			#RightSlideImg {
				width: 186px;
			}
		}

		@media only screen and (max-width : 1163px) {
			#LeftSlideImg {
			    display: none
			}
			#RightSlideImg {
				display: none
			}
		}





		@media only screen and (max-width : 1078px) {

			
			#slide1Center {
			    width: 580px;
			    height: 100%;
			    float: left;
			    position: relative;
			    top: 80px;
			}
			#slide1Right {
			    width: calc((100% - 580px) / 2);
			    height: 100%;
			    float: left;
			    position: relative;
			    top: 80px;
			}
			#slide1Left {
			    width: calc((100% - 580px) / 2);
			    height: 100%;
			    float: left;
			    position: relative;
			    top: 80px;
			}			
		}


		@media only screen and (max-width : 795px) {


				
		}
		@media only screen and (max-width : 726px) {
			#slide1Left {
			    display: none;
			}
			#slide1Center {
			    width: 100%;
			}	
			#slide1Right {
			    display: none;
			}	
			#slide1CenterBigLogo {
			    width: 195px;
			}	
			#slide1CenterDown {
			    text-align: center;
			}
			#slideTextUp {
			    margin-left: 0px; 
			}
			#slideText {
			    margin: auto;
			    font-family: myFirstFont1;
			    font-size: 20px;
			    color: white;
			    /* margin-left: 67px; */
			    width: 97%;
			}
			#LineunderSlide1 {
			    width: 83%;
			    height: 10px;
			    background-color: white;
			    /* margin-left: 66px; */
			    /* margin-top: 13px; */
			    margin: auto;
			}				
		}













		@media only screen and (max-width : 1657px) {
			.commonBtns {
			    top: 5px;
			    margin-top: 5px;
			}
		}


		@media only screen and (max-width : 1088px) {
			.commonBtns {
			    width: 77px;
			    margin-left: 10px;
			}
			.commonBtnsLink{
				font-size: 11px;
			}
		}




		@media only screen and (max-width : 929px) {




			.commonBtns {
			    width: 57px;
			    margin-left: 10px;
			}
			.commonBtnsLink{
				font-size: 11px;
			}

			#realLogo {
			    width: 57px;
			    margin-top: 18px;
			    margin-left: 14px;
			}	
			#realVietnam {
			    width: 18px;
			}	
			#realUsa {
			    width: 18px;
			    height: 14px;
			}
			#realLaos {
			    width: 20px;
			    height: 13.5px;
			}
			#loginBtn > span{
				 font-size: 13px;
			}
			#upplerFlags {
			    position: relative;
			    left: -3px;
			        top: 9px;
			}

			#loginBtn {
			    position: relative;
			    left: -8px;
			    top: 4px;
			}	
			#logo {
			    width: 83px;
			}
			#threeFlag {
			    width: 83px;
			    left: calc(100% - 2 * 83px);
			}	
			#navBtns {
			    width: calc(100% - 2 * 83px);
			    height: 80px;
			    position: absolute;
			    left: calc(83px);
			}
		}


		@media only screen and (max-width : 581px) {

			#extraMenu{
				display: block;
				width: 100%;
				height: 430px;
				background-color: red;
				transition: height 1s;
			}
			#epadding{
				width: 100%;
				height: 80px;
			}
			.commentExtraMEni{
				width: 100%;
				height: 30px;
		/*		border-top-width: 1px;
				border-top-style: solid;*/
			}
			.menu1e{
				width: calc(100% - 2 * 14px);
				height: 100%;
				border-top-width: 0.5px;
				border-top-style: solid;
				border-top-color: rgba(0,0,0,0.2);	
				float: left;
				margin-left: 14px;
			}
			.commonTextMenu{
				color: black;
				font-family: myFirstFont;
			    position: relative;
			    top: -10px;
			    float: left;		
			}















			.commonBtns{
				display: none;
			}

			#realLogoReplce{
				display: block;
				width: 45px ;
			    position: relative;
			    top: 24px;	
			    margin: auto;
			}
			#logo > a{
				display: none;
			}



			#nav-icon2{
				display: block;
			    transform: scale(0.4) !important;
			    top: -29px;
				left: -16px;
			}
			


			/* Icon 1 */

			#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
			  width: 60px;
			  height: 45px;
			  position: relative;
			  margin: 50px auto;
			  -webkit-transform: rotate(0deg);
			  -moz-transform: rotate(0deg);
			  -o-transform: rotate(0deg);
			  transform: rotate(0deg);
			  -webkit-transition: .5s ease-in-out;
			  -moz-transition: .5s ease-in-out;
			  -o-transition: .5s ease-in-out;
			  transition: .5s ease-in-out;
			  cursor: pointer;
			}

			#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
			  display: block;
			  position: absolute;
			  height: 9px;
			  width: 100%;
			  background: black;
			  border-radius: 9px;
			  opacity: 1;
			  left: 0;
			  -webkit-transform: rotate(0deg);
			  -moz-transform: rotate(0deg);
			  -o-transform: rotate(0deg);
			  transform: rotate(0deg);
			  -webkit-transition: .25s ease-in-out;
			  -moz-transition: .25s ease-in-out;
			  -o-transition: .25s ease-in-out;
			  transition: .25s ease-in-out;
			}

			#nav-icon1 span:nth-child(1) {
			  top: 0px;
			}

			#nav-icon1 span:nth-child(2) {
			  top: 18px;
			}

			#nav-icon1 span:nth-child(3) {
			  top: 36px;
			}

			#nav-icon1.open span:nth-child(1) {
			  top: 18px;
			  -webkit-transform: rotate(135deg);
			  -moz-transform: rotate(135deg);
			  -o-transform: rotate(135deg);
			  transform: rotate(135deg);
			}

			#nav-icon1.open span:nth-child(2) {
			  opacity: 0;
			  left: -60px;
			}

			#nav-icon1.open span:nth-child(3) {
			  top: 18px;
			  -webkit-transform: rotate(-135deg);
			  -moz-transform: rotate(-135deg);
			  -o-transform: rotate(-135deg);
			  transform: rotate(-135deg);
			}

			/* Icon 2 */

			#nav-icon2 {
			}

			#nav-icon2 span {
			  display: block;
			  position: absolute;
			  height: 9px;
			  width: 50%;
			  background: black;
			  opacity: 1;
			  -webkit-transform: rotate(0deg);
			  -moz-transform: rotate(0deg);
			  -o-transform: rotate(0deg);
			  transform: rotate(0deg);
			  -webkit-transition: .25s ease-in-out;
			  -moz-transition: .25s ease-in-out;
			  -o-transition: .25s ease-in-out;
			  transition: .25s ease-in-out;
			}

			#nav-icon2 span:nth-child(even) {
			  left: 50%;
			  border-radius: 0 9px 9px 0;
			}

			#nav-icon2 span:nth-child(odd) {
			  left:0px;
			  border-radius: 9px 0 0 9px;
			}

			#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
			  top: 0px;
			}

			#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
			  top: 18px;
			}

			#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
			  top: 36px;
			}

			#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
			  -webkit-transform: rotate(45deg);
			  -moz-transform: rotate(45deg);
			  -o-transform: rotate(45deg);
			  transform: rotate(45deg);
			}

			#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
			  -webkit-transform: rotate(-45deg);
			  -moz-transform: rotate(-45deg);
			  -o-transform: rotate(-45deg);
			  transform: rotate(-45deg);
			}

			#nav-icon2.open span:nth-child(1) {
			  left: 5px;
			  top: 7px;
			}

			#nav-icon2.open span:nth-child(2) {
			  left: calc(50% - 5px);
			  top: 7px;
			}

			#nav-icon2.open span:nth-child(3) {
			  left: -50%;
			  opacity: 0;
			}

			#nav-icon2.open span:nth-child(4) {
			  left: 100%;
			  opacity: 0;
			}

			#nav-icon2.open span:nth-child(5) {
			  left: 5px;
			  top: 29px;
			}

			#nav-icon2.open span:nth-child(6) {
			  left: calc(50% - 5px);
			  top: 29px;
			}

			/* Icon 3 */

			#nav-icon3 span:nth-child(1) {
			  top: 0px;
			}

			#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
			  top: 18px;
			}

			#nav-icon3 span:nth-child(4) {
			  top: 36px;
			}

			#nav-icon3.open span:nth-child(1) {
			  top: 18px;
			  width: 0%;
			  left: 50%;
			}

			#nav-icon3.open span:nth-child(2) {
			  -webkit-transform: rotate(45deg);
			  -moz-transform: rotate(45deg);
			  -o-transform: rotate(45deg);
			  transform: rotate(45deg);
			}

			#nav-icon3.open span:nth-child(3) {
			  -webkit-transform: rotate(-45deg);
			  -moz-transform: rotate(-45deg);
			  -o-transform: rotate(-45deg);
			  transform: rotate(-45deg);
			}

			#nav-icon3.open span:nth-child(4) {
			  top: 18px;
			  width: 0%;
			  left: 50%;
			}

			/* Icon 4 */

			#nav-icon4 {
			}

			#nav-icon4 span:nth-child(1) {
			  top: 0px;
			  -webkit-transform-origin: left center;
			  -moz-transform-origin: left center;
			  -o-transform-origin: left center;
			  transform-origin: left center;
			}

			#nav-icon4 span:nth-child(2) {
			  top: 18px;
			  -webkit-transform-origin: left center;
			  -moz-transform-origin: left center;
			  -o-transform-origin: left center;
			  transform-origin: left center;
			}

			#nav-icon4 span:nth-child(3) {
			  top: 36px;
			  -webkit-transform-origin: left center;
			  -moz-transform-origin: left center;
			  -o-transform-origin: left center;
			  transform-origin: left center;
			}

			#nav-icon4.open span:nth-child(1) {
			  -webkit-transform: rotate(45deg);
			  -moz-transform: rotate(45deg);
			  -o-transform: rotate(45deg);
			  transform: rotate(45deg);
			  top: -3px;
			  left: 8px;
			}

			#nav-icon4.open span:nth-child(2) {
			  width: 0%;
			  opacity: 0;
			}

			#nav-icon4.open span:nth-child(3) {
			  -webkit-transform: rotate(-45deg);
			  -moz-transform: rotate(-45deg);
			  -o-transform: rotate(-45deg);
			  transform: rotate(-45deg);
			  top: 39px;
			  left: 8px;
			}













							
		}
