
@font-face {
    font-family: ubuntuM;
    src: url(./ubuntu-font-family-0.83/Ubuntu-M.ttf);
}

html,body {
    margin: 0;
    background-color: #000;
    font-family: ubuntuM;
}
button {
    background-color: transparent;
    border: 0 transparent;
}

button:focus {
    border: 0 transparent;
    outline: 0 transparent;
}
a {
    text-decoration: none;
    color: #fff
}


/*======*/
#side-bar {
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: -260px;
    width: 250px;
    height: 100vh;
    background-color: rgba(33,33,33,0.8);
    -webkit-box-shadow: 4px -1px 25px -7px rgba(0,0,0,0.57);
    -moz-box-shadow: 4px -1px 25px -7px rgba(0,0,0,0.57);
    box-shadow: 4px -1px 25px -7px rgba(0,0,0,0.57);
    overflow-y: auto;
    transition: 0.5s;
    display: none;
}
#side-bar::-webkit-scrollbar { 
    display: none; 
}
#side-bar ul {
    list-style: none;
    padding: 0
}
#side-bar ul li {
    border-top: solid 0.5px #616161;
    padding: 20px
}


header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    background-color: rgba(33,33,33,0.57);
}
.header-container {
    max-width: 1295px;
    margin: auto;
}
header ul {
    list-style: none;
    padding: 0;
    padding-top: 15px;
    float: left
}
header ul li {
    display: inline;
    margin: 10px;
    font-size: 1.2rem;
}
header a {
    color: #fff;
}
.show-menu-button {
    margin: 25px;
    display: none;
}
.hide-menu-button {
    margin-left: 200px;
    margin-top: 20px;
}
.logo {
    display: block;
    float: left;
    height: 60px;
    margin: 10px;
}
.lang-container {
    float: right;
    padding-top: 10px;
    overflow: hidden;
}
.lang-container button span {
    display: block;
    float: left;
    margin-top: 2px;
    margin-left: 15px;
    font-size: 14px;
}

.lang-container .lang {
    display: block;
    float: left;
    margin: 3px;
    width: 30px;
    height: 22px;
}
.lang-container .lang img {
    width: 100%;
    height: 100%;
}


#lang-drop-box {
    clear:both; 
    height: 0;
    max-height: 320px;
    overflow-y: scroll;
    background-color: rgba(33,33,33,0.57); 
    border-radius: 1px;
    width: 50%; float: right; 
    margin-right: 5px;
    transition: 0.5s;
}
/* #lang-drop-box::-webkit-scrollbar { 
    display: none; 
} */

#lang-drop-box a {
    display: block;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 30px;
    height: 22px;
}
#lang-drop-box a img {
    width: 100%;
    height: 100%;
}

.login {
    clear: both;
    padding-top: 5px;
    float: left;
}
.login a {
    display: block;
    text-align: center;
    font-size: 14px;
}
.login a span {
    display: block;
    float: left;
    margin-left: 15px;
    font-weight: 100;
}


.menu-active {
    color: #3244A7
}
/* banner  */
.banner {
    overflow: hidden;
    height: 100vh;
}
.banner .middle {
    width: 100vw;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
}
.banner .banner-logo {
    display: block;
    height: 70%;
    margin: auto; 
}

/* reponsive  */
@media only screen and (max-width: 1380px) {
    header ul li {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 1147px) {
    header ul li {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 1088px) {
    header ul {
        width: 750px;
        padding-top: 5px;
    }
}
@media only screen and (max-width: 1042px) {
    header ul {
        width: 700px
    }
}
@media only screen and (max-width: 992px) {
    header ul {
        width: 600px
    }
}
@media only screen and (max-width: 892px) {
    header ul {
        width: 580px
    }
}

@media only screen and (max-width: 873px) {
   .show-menu-button {
        display: block;
        float: left;
    }
    #side-bar {
        display: block;
    }
    header ul {
        display: none;
    }
    .banner .banner-logo {
        height: 50%;
    }
}


@media only screen and (max-width: 620px) {
    .banner .banner-logo {
        height: 40%;
    }
}

/* intro  */
#introduction-container {
    background-color: #000;
    background: url('../images/background/intro-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 100px 0;
    overflow: hidden;
    min-height: 600px
}
#introduction-container * {
    color: #fff
}
.intro-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    font-weight: 100;
}
.intro-content {
    margin-top: 50px;
    width: 49%;
    margin-right: 1%;
    float: left;
    text-align: justify;
    line-height: 150%
}
.intro-content ul {
    padding: 0
}
.intro-content ul li {
    margin-bottom: 40px;
    line-height: 150%
}
.intro-thumb {
    margin-top: 50px;
    width: 50%;
    float: right;
    clear: both;
}
.intro-thumb img {
    width: 100%;
}

.intro-thumb-2 {
    float: left;
    clear: both;
}
.intro-content-2 {
    width: 46%;
    margin-left: 2%;
    float: right;
}
@media only screen and (max-width : 825px) {
    .intro-container {
        width: 90%;
    }
}
@media only screen and (max-width : 650px) {
    .intro-content {
        width: 90%;
        float: none;
        text-align: justify
    }
    .intro-thumb {
        width: 50%;
        float: none;
        margin: auto;
        margin-bottom: 50px
    }
}
@media only screen and (max-width : 500px) {
    .intro-content {
        width: 80%;
        margin: auto;
        float: none;
        text-align: justify
    }
    .intro-thumb {
        width: 80%;
        float: none;
        margin: auto;
        margin-bottom: 50px
    }
}
